[Unit]
Description=PiOSK Tab Switcher
After=piosk-runner.service
Wants=piosk-runner.service

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 20
ExecStart=/opt/piosk/scripts/switcher.sh
WorkingDirectory=/home/USER_PLACEHOLDER
Environment=DISPLAY=:0
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target 