[Unit]
Description=Launch PiOSK runner to start Chromium on Ubuntu
After=network.target graphical-session.target
Wants=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 30
ExecStart=/opt/piosk/scripts/runner-wrapper.sh
User=PI_USER
WorkingDirectory=PI_HOME
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target 